{% extends "base.html" %}

{% block title %}Admin Login{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  
    <center> 
        <h2> Admin Login Form </h2> 
    </center>   
    <form action="" method="post">  
        <div class="container">   
            <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
            <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
            <input class="btn btn-default" type="submit" value="Login">
            {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}  
        </div>   
    </form> 

{% endblock %}