{% extends "base.html" %}

{% block title %}Create Quiz{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  
  <form action="" method="post">  
    <div class="container">   
      Quiz Name:<input type="text" placeholder="quiz_name" name="quiz_name" value="{{request.form.quiz_name}}">
      <input class="btn btn-default" type="submit" value="Submit">
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}  
    </div>   
  </form> 

{% endblock %}